$body-background-color : #f7f4f4;
$card-background-color: #fff;
$card-img-bg-color: lightgrey;
*{
    margin:0;
    padding:0;
    box-sizing: 0;
}

html {
    font-size: 62.5%;
}
body{
    background-color:$body-background-color;
    font-size: 1.6rem;
}

.playing-hand{
    margin-top: 4rem;
    width:95vw;
    height: 40vh;
    padding-left: 5%;
    h1{
       left: 45%;
       display:block;
       font-size:4rem;
       margin-left: 40vw;
       animation: comeInDown 2s ease-in 5s;
       animation-fill-mode: backwards;
    }

    h1.winner{
        color:lightgreen;
    }

    h1.loser{
        color:red;
    }

    &__total-eperience{
        margin-left: 45vw;
        margin-top:2rem;
        margin-bottom: 2rem;
        font-size: 1.4rem;
    }

    &__card{
        position: relative;
        width: 30rem;
        height: 29rem;
        background-color:$card-background-color;
        float:left;
        margin-left:2rem;
        margin-right: 2rem;
        margin-bottom: 5rem;
        padding:10px;
        animation: cardsApper 4s ease-in;
         animation-fill-mode: backwards;
        &:nth-child(1){
            animation-delay: .5s;
        }
        &:nth-child(2){
            animation-delay: 1.5s;
        }
        &:nth-child(3){
            animation-delay: 2s;
        }
        &:nth-child(4){
            animation-delay: 2.5s;
        }
    }
}


.card-img{
    background-color: $card-img-bg-color;
    img{
        width:20rem;
        margin-left:4rem;

        &:hover{
           transform: scale(1.2);
        }
    }

    
}

.card-info{
    position: absolute;
    left:37%;
    margin-top:1.5rem;
    font-size:1.2rem;
    &__name{
        font-size:1.8rem;
        margin-bottom:2rem;
    }

    &__type,&__EXP{
        margin-left:1.2rem;
        margin-top:0.5rem;
    }
}

@keyframes comeInDown{
    0%{
        transform: translateY(-20vh);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes cardsApper{
    0%{
        transform: translateX(-50vw);
        opacity: 0;
    }
    80%{
        transform: translateX(0);
        opacity: 0.6;
    }
    100%{
        opacity: 1;
    }
}