.DiceGame {
  transform: translateX(40vw);
  width: 50rem;
  margin-top: 5rem; }
  .DiceGame__btn {
    background-color: lightgreen;
    border-radius: 4px;
    width: 20rem;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-top: 5rem;
    margin-left: 13rem; }
    .DiceGame__btn:hover {
      cursor: pointer; }

[class^="fa"] {
  color: red;
  font-size: 10rem;
  margin-right: 3rem; }

.shakeable {
  animation: shakeable 5s ease-in;
  animation-fill-mode: backwards; }

@keyframes shakeable {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.75%; }
